// Import Bootstrap's functions and variables
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Override Bootstrap's default theme colors
$primary: #2C2C54; // Dark Blue
$secondary: #FF6F3C; // Orange
$success: #FFC857; // Yellow
$light: #FFFFFF; // White
$dark: #2C2C54; // Dark Blue

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "light": $light,
    "dark": $dark
);

// Import the rest of Bootstrap
@import "bootstrap/scss/bootstrap";